* {
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #ff7a7a;
}

@media (min-width: 375px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
  }
}

@media (max-width: 375px) {
  body {
    background-image: url(../images/bg-intro-mobile.png);
  }
}

@media (min-width: 375px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
  }
}

@media (max-width: 375px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    gap: 5rem;
  }
}

@media (min-width: 375px) {
  .text-section {
    width: 50%;
  }
  .text-section h1 {
    font-size: 3rem;
  }
}

@media (max-width: 375px) {
  .text-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5rem;
  }
  .text-section h1, .text-section p {
    text-align: center;
  }
  .text-section h1 {
    font-size: 2rem;
  }
}

.text-section h1, .text-section p {
  color: white;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 375px) {
  .form-section {
    width: 45%;
    gap: 1.5rem;
  }
}

@media (max-width: 375px) {
  .form-section {
    width: 100%;
    gap: 2rem;
  }
}

.form-section .form-header {
  width: 100%;
  background-color: #6055a5;
  color: white;
  font-size: .8rem;
  font-weight: 600;
  text-align: center;
  border-radius: .5rem;
  -webkit-box-shadow: 0px 6px rgba(0, 0, 0, 0.283);
          box-shadow: 0px 6px rgba(0, 0, 0, 0.283);
}

@media (min-width: 375px) {
  .form-section .form-header {
    padding: 1rem;
  }
}

@media (max-width: 375px) {
  .form-section .form-header {
    padding: 1rem 5rem;
  }
}

.form-section .form-header span {
  opacity: .7;
  font-weight: 400;
}

.form-section .from-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: white;
  padding: 2.5rem;
  border-radius: .3rem;
  -webkit-box-shadow: 0px 6px rgba(0, 0, 0, 0.283);
          box-shadow: 0px 6px rgba(0, 0, 0, 0.283);
}

.form-section .from-area .from-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
  width: 100%;
}

.form-section .from-area .from-row .show-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-section .from-area .from-row .input-error {
  background-image: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: 95% 50%;
  outline: 2px solid #ff7a7a;
}

.form-section .from-area .from-row .input-error::-webkit-input-placeholder {
  color: #ff7a7a;
}

.form-section .from-area .from-row .input-error:-ms-input-placeholder {
  color: #ff7a7a;
}

.form-section .from-area .from-row .input-error::-ms-input-placeholder {
  color: #ff7a7a;
}

.form-section .from-area .from-row .input-error::placeholder {
  color: #ff7a7a;
}

.form-section .from-area .button {
  height: 2.8rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: .3rem;
  cursor: pointer;
  font-size: .8rem;
  font-weight: 500;
  color: white;
  background-color: #38cc8c;
  -webkit-box-shadow: 0px 2px #2caa74;
          box-shadow: 0px 2px #2caa74;
}

.form-section .from-area .button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.form-section .from-area .from-footer {
  gap: .3rem;
}

.form-section .from-area .from-footer p {
  font-size: .6rem;
  color: #b9b6d3;
}

.form-section .from-area .from-footer p span {
  color: #ff7a7a;
}

@media (min-width: 375px) {
  .form-section .from-area .from-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .form-section .from-area .from-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 21ch;
    text-align: center;
  }
}

input {
  width: 100%;
  line-height: 2rem;
  font-size: .8rem;
  text-align: left;
  font-weight: 700;
  padding: .3rem 1rem;
  border-radius: .3rem;
  outline: 2px solid #6055a5;
}

input:placeholder-shown {
  font-weight: 600;
  outline: 2px solid #b9b6d3;
}

input:placeholder-shown:focus {
  outline: 2px solid #6055a5;
}

input:nth-child(5) {
  outline: none;
}

.error-msg {
  display: none;
  font-size: .6rem;
  font-style: italic;
  color: #ff7a7a;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=index.css.map */