$primary-red-color:hsl(0, 100%, 74%) ;
$primary-green-color:hsl(154, 59%, 51%);
$primary-blue-color:hsl(248, 32%, 49%);


$secondary-dark-color:hsl(249, 10%, 26%);
$secondary-light-color:hsl(246, 25%, 77%);


